<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://rawcdn.githack.com/full-stacks/css-hero/00455d27e26917d35108c236deae031ad029cb98/challenges/000-template/fullstacks.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  <title>MLTube</title>
</head>

<body>
  <form action="{{url_for('predict')}}"method="post" enctype="multipart/form-data">
    <input type="text" name="title1" placeholder="Title 1" required="required" /> <br>
    <input type="file" id="myFile" name="filename" required="required" /> <br>
    <button id = "button" class="button" onclick="button_click()">
      <span type="submit" class="btn btn-primary btn-block btn-large">Submit</span>
      <script>
        function button_click() {
          document.getElementById("button").style.display = 'none';
          start_loading();
        }
      </script>
    </button>
  </form>

<body>
  <div class="circular">
    <div class="inner"></div>
    <div class="outer"></div>
    <div class="numb">0%</div>
    <div class="circle">
      <div class="dot"><span></span></div>
      <div class="bar left">
        <div class="progress"></div>
      </div>
      <div class="bar right">
        <div class="progress"></div>
      </div>
    </div>
  </div>
<div id="txt">Loading...</div>   
  <script>
      function fade(element, op) {
          var timer = setInterval(function () {
              if (op <= 0.1){
                  clearInterval(timer);
                  element.style.display = 'none';
              }
              // element.style.opacity = op;
              element.style.filter = 'alpha(opacity=' + op * 100 + ")";
              op -= op * 0.1;
          }, 50);
      }

      function start_loading() {
        const numb = document.querySelector(".numb");
        const circ = document.querySelector(".circle");
        const circ2 = document.querySelector(".circular");
        var text = document.getElementById("txt");
        let counter = 0;
        const c1 = Math.floor(Math.random() * 25);
        const c2 = 25 + Math.floor(Math.random() * 25);
        const c3 = 50 + Math.floor(Math.random() * 25);
        setInterval(()=>{
            if(counter == 100){
              clearInterval();
              fade(numb, 1);
              fade(circ, 1);
              fade(circ2, 1);
              text.innerHTML = "";
            } else {
              counter+=1;
              numb.textContent = counter + "%";
              
              if (counter == c1) {
              text.innerHTML = "Running Clickbait Classifier...";
            } else if (counter == c2) {
              text.innerHTML = "Running NSFW Classifier...";
            } else if (counter == c3) {
              text.innerHTML = "Running Relevancy Tracker...";
            }
            }
        }, 80);
      }
      
  </script>
     
</body>

<body>

  <br>
  <br>
  {{ prediction_clickbait_youtube_text }}
  {{ prediction_nsfw_text }}
 
    <ul>
      {% for result in relevancy_results %}
      <li>
        {{result}}
      </li>
      {% endfor %}
    </ul>
 
  </div>
 
 
</body>
</body>

</html>