<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://rawcdn.githack.com/full-stacks/css-hero/00455d27e26917d35108c236deae031ad029cb98/challenges/000-template/fullstacks.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/background_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/textfield.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/percent.css') }}">
    <script src="{{
      url_for('static', filename='js/script.js') }}" defer></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{
      url_for('static', filename='js/file.js') }}"></script>
  <title>MLTube</title>
</head>

<body>
  <div class="container">
    <form action="{{url_for('predict')}}"method="post" enctype="multipart/form-data">
      <div class="file-upload">
        <div class="file-select">
          <div class="file-select-button" id="fileName">Youtube Thumbnail</div>
          <div class="file-select-name" id="noFile">No file chosen...</div> 
          <input id = "i2" type="file" id="myFile" name="filename" required="required" /><br>
        </div>
      </div>
      <br><br>
      <div class="group">      
        <input id = "i1" type="text" name="title1" required="required" /> <br>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Youtube Title</label>
      </div>
      <button id = "button" class="button" onclick="button_click()" button type="button">
        <span class = "tick" type="submit" class="btn btn-primary btn-block btn-large">Submit</span>
        <script>
          function button_click() {
            var i1 = document.getElementById("i1").value;
            var i2 = document.getElementById("i2").value;
            if (!(i1 === "" || i2 === "")) {
              console.log("HELLO");
              document.getElementById("button").style.display = 'none';
              document.getElementById("progress-bar").style.display = "block";
              loading();
              

              // while("{{request_done}}" != "done") {
              //   //pass
              // }
              // await new Promise(r => setTimeout(r, 10000));
              function sleep (time) {
                return new Promise((resolve) => setTimeout(resolve, time));
              }
              sleep(5000).then(() => {
                var rounded_nsfw = parseInt("{{rounded_prediction_nsfw_text}}");
                var true_nsfw = "{{prediction_nsfw_text}}"

                var rounded_clickbait = parseInt("{{rounded_prediction_clickbait_youtube_text}}");
                var true_clickbait = "{{prediction_clickbait_youtube_text}}"
                //var relevancy = "{{relevancy_results}}"

                localStorage.setItem( 'rounded_nsfw', rounded_nsfw);
                localStorage.setItem( 'true_nsfw', true_nsfw);
                localStorage.setItem( 'rounded_clickbait', rounded_clickbait);
                localStorage.setItem( 'true_clickbait', true_clickbait);
                //localStorage.setItem( 'relevancy', relevancy);
                window.open('results', '_blank');
                return false;
              });
              

              
            }
          }
        </script>
      </button>
    </form>
    <div id = "progress-bar" class="progress-bar" style="--width: 10; display: none;" data-label="Loading..."></div>
  </div>
     
</body>
</body>

</html>