

.masthead {
    text-align: center;
    padding-bottom: 20px;
}

.masthead p, .masthead p a {
  color: white;
}

.site-title {
  color: white;
}

body {
    background-color: #141526;
}

h1 {
    color: white;
}
h2 {
  font-weight: bold;
  color: #60E3DC;
  font-size: 28px;
}
p {
  color: white;
  font-size: 14px;
  font-family: Verdana
}
.grid {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr; /* Column width size here*/
    grid-template-rows: 200px 200px; /* Row height size here*/
    
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  .item-a{
    background-color: #26273B
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #60E3DC;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    zoom: 1;
    -moz-transform: scale(1);
    overflow: auto;
  }
  
  .item-b{
    background-color: #26273B
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #60E3DC;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .item-c{
    background-color: #26273B
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #60E3DC;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .item-d{
    background-color: #26273B
    ;
    border-style: solid;
    border-width: 2px;
    border-color: #60E3DC;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
  }

.custom_button {
  background-color: #141526; 
  border: 2px solid #5F3D85;
  color: #535467;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 8px;
}

.custom_button:hover {
  background-color: rgba(95,61,133,0.15);
  color: white;
}

.wrapper {
    text-align: center;
    padding-top: 20px
}

.circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */ 
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}

.circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}

.circle-chart__percent {
  color: white;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}